*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ==== Typography ==== */
@font-face {
  font-family: "Samim";
  src: url(./fonts/Samim.ttf);
}

@font-face {
  font-family: "Samim-bold";
  src: url(./fonts/Samim-Bold.ttf);
}

:root {
  --site-hue: 20;
}

body {
  font-family: "Samim";
  direction: rtl;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

.mobile-shadow {
  position: fixed;
  height: 100%;
  width: 100vw;
  background-color: #212121;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 1;

  pointer-events: none;
  transition: opacity 300ms ease;
}

.mobile-shadow.shown {
  opacity: 0.8;
}

/* === Hamburger Button === */

.hamburger-button-container {
  align-items: center;
  cursor: pointer;
  flex-direction: column;
  height: 80px;
  justify-content: space-evenly;
  position: absolute;
  width: 80px;
  /* For non-mobile: hide */
  display: none;
}

.hamburger-button-segment {
  background-color: hsl(var(--site-hue), 90%, 65%, 1);
  flex-basis: 7.5%;
  pointer-events: none;
  width: 75%;
}

/* === header === */

.header {
  background-color: #222;
  font-family: "Samim-Bold";

  display: grid;
  place-items: center;

  height: 400px;
}
.logo-container {
  justify-self: center;
  text-align: center;
}

.logo-text {
  color: hsl(var(--site-hue), 90%, 65%, 1);
  font-size: 9rem;
}

.logo-description {
  color: hsl(var(--site-hue), 61%, 77%, 1);
}

/* ==== nav ==== */

.nav {
  background-color: hsl(var(--site-hue), 61%, 85%, 1);
  display: grid;
  place-items: center;

  position: sticky;
  top: 0;
}

.nav-inner-scroll-bar {
  left: 0;
  position: absolute;
  height: 100%;
  background-color: hsl(var(--site-hue), 61%, 75%, 1);
  z-index: -1;
}

.nav-list {
  display: flex;

  gap: 1.75em;
}

.nav-link:is(.nav-link, :hover, :focus) {
  transition: color 250ms ease-in-out;
}

.nav-link {
  color: hsl(var(--site-hue), 61%, 25%, 1);
  display: block;
  font-size: 1.75rem;
  font-weight: 500;
  padding: 0.5em;
  text-decoration: none;
}

.nav-link:is(:hover, :focus) {
  color: var(--blush);
  text-decoration: underline;
}

/* ==== main ==== */

.main {
  font-size: 1.5rem;
  width: 85%;
  margin-inline: auto;
  line-height: 1.9;
}

.main-paragraph-container {
  direction: rtl;
  padding-block: 1em;
  text-align: center;
  text-align: justify;
}

/* ====== footer ===== */
.footer {
  background-color: hsl(var(--site-hue), 61%, 10%, 1);
  color: hsl(var(--site-hue), 61%, 70%, 1);
  padding: 2em;
}

.footer h3 {
  font-size: 1.25em;
  padding-block: 3em 1em;
  text-align: center;
}

.social-media {
  background-color: hsl(var(--site-hue), 61%, 90%, 1);
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: row-reverse;
  gap: 1em;
  height: fit-content;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  width: fit-content;
}

.footer-sm-link {
  color: hsl(var(--site-hue), 61%, 30%, 1);
  display: block;
  font-size: 1.2em;
  font-weight: 700;
  padding-right: 1.5em;
  padding: 0.5em;
  text-decoration: none;
  border-right: 1px solid hsl(var(--site-hue), 61%, 5%, 0.2);
}

.footer-sm-link:last-child {
  border-right: none;
}

.footer-sm-link:is(.footer-sm-link, :hover, :focus) {
  transition: color 250ms ease-out;
}
.footer-sm-link:is(:hover, :focus) {
  color: hsl(var(--site-hue), 61%, 5%, 1);
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .nav,
  .nav.active {
    transition: 500ms ease-in;
  }

  .nav.active {
    right: 0;
  }

  .nav {
    z-index: 2;
    background-color: hsl(var(--site-hue), 61%, 85%, 1);
    display: flex;
    height: 100vh;
    place-items: start;
    position: fixed;
    right: -110%;
    top: 0;
    width: 50vw;
  }

  .nav-list {
    width: 50%;
    flex-direction: column;
    gap: 1rem;
    margin-right: 2em;
    margin-top: 2em;
  }

  .hamburger-button-container {
    display: flex;
  }

  .social-media {
    flex-direction: column;
  }

  .footer-sm-link {
    border-right: none;
    border-bottom: 1px solid hsl(var(--site-hue), 61%, 5%, 0.2);
  }

  .nav-inner-scroll-bar {
    background-color: hsl(var(--site-hue), 80%, 20%, 0.5);
    width: 30px;
  }
}
